{%- include "_layout_header.html" -%}

        <section class="jumbotron text-center">
            <h2>Useful links</h2>
        </section>

        <div class="row col-sm-12">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <h3>Wallets</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://wallet.velas.com">Velas Wallet</a></td>
                        <td>Official Velas web-wallet</td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h3>Monitoring</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://velasmonitor.stakingbridge.com/">StakingBridge.com</a></td>
                        <td>Telegraf, Prometheus and Grafana for monitor your node. <a target="_blank" href="https://medium.com/@stakingbridge/monitoring-your-velas-node-by-stakingbridge-com-45a39e170f0a">Installation manual</a>.</td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h3>Validators</h3>
                        </td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://velasity.com/validators">Velasity</a></td>
                        <td>Sharp statistics, validators, explorer</td>
                    </tr>
                    <tr>
                        <td><a target="_blank" href="https://velasvalidators.com/">VelasValidators</a></td>
                        <td>Validators explorer by True Staking / Premagine</td>
                    </tr>

                </tbody>
            </table>
        </div>


{%- include "_layout_footer.html" -%}